body {
  background-color: #ebe3b3;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333333;
}

h1 {
  color: #eee;
  font-size: 28px;
  margin-bottom: 0; /* Remove default margin */
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-top: 5px; /* Adjust as needed */
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#bio-image,
#main-bio {
  width: 200px;
  border-block-start: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: left;
}

#contact-info {
  float: right;
  width: 50%; /* Equal width for both sections */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 20px; /* Add padding for spacing */
}

a {
  color: #d21034;
}
