body {
  background-color: #efeee7;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 150%;
  font-size: 18px;
}

header {
  background-color: #333333;
}

h1 {
  color: #eee;
  font-size: 28px;
  margin-bottom: 20px; /* Remove default margin */
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
a {
  color: #d21034;
}

h2 {
  font-size: 24px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#bio-image,
#main-bio,
#contact-info {
  /*width: 200px;
  border-block-start: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  float: left;
}
#main-bio {
  width: 70%;
}
#contact-info {
  width: 30%;
}
#bio-image {
  width: 200px;
  height: 200px;
  margin-left: 20px;
}
